openapi: 3.2.0
info:
  title: LeadGenius Enrichment API
  version: v1
  summary: RESTful API for B2B account and contact enrichment, contact append, exclusion lists and rapid (real-time) enrichment.
  description: The LeadGenius public API is a RESTful API that sends and receives records from the LeadGenius Dashboard product.
  termsOfService: https://www.leadgenius.com/legal/terms
  contact:
    name: LeadGenius Sales
    email: sales@leadgenius.com
    url: https://docs.leadgenius.com/
servers:
- url: https://leadgenius.com
  description: Production
security:
- TokenAuth: []
tags:
- name: LeadGenius Enrichment API
paths: {}
webhooks:
  recordFinalized:
    post:
      operationId: recordFinalizedWebhook
      summary: Record finalized callback
      description: When a campaign has a webhook_url set, LeadGenius sends a POST request with content-type application/json to that URL every time a record is finalized.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordFinalizedEvent'
      responses:
        '200':
          description: Acknowledged by the receiving system.
      tags:
      - LeadGenius Enrichment API
components:
  schemas:
    RecordFinalizedEvent:
      type: object
      properties:
        slug:
          type: string
          description: Campaign slug/identifier on the LeadGenius platform.
        records:
          type: array
          description: An array of finalized record ids.
          items:
            type: integer
        uploaded:
          type: integer
          description: Total number of records uploaded to the campaign.
        enriched:
          type: integer
          description: Total number of verified records uploaded to the campaign.
        complete:
          type: boolean
          description: Flag indicating whether all uploaded records were verified.
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'LeadGenius uses API keys. Include the key in every request as `Authorization: Token {apikey}`.'
